.componentViewContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  margin-top: 40px;
}
