<div class="componentViewContainer">
  <div class="buttonContainer">
    <h2>Size large</h2>
    <div>
      <button [appCoolButton]="primary" [size]="large">Button Component</button>
      <button [appCoolButton]="secondary" [size]="large">
        Button Component
      </button>
      <button [appCoolButton]="destructive" [size]="large">
        Button Component
      </button>
      <button appCoolButton [disabled]="true" [size]="large">
        Button Component
      </button>
    </div>

    <h2>Size medium</h2>

    <div>
      <button [appCoolButton]="primary" [size]="medium">
        Button Component
      </button>
      <button [appCoolButton]="secondary" [size]="medium">
        Button Component
      </button>
      <button [appCoolButton]="destructive" [size]="medium">
        Button Component
      </button>
      <button appCoolButton [disabled]="true" [size]="medium">
        Button Component
      </button>
    </div>
  </div>
</div>
